@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

body {
  font-family: "Albert Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 62px;
  font-size: 3.875rem;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -2px;
}

h2 {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -1px;
}

h3 {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: -0.25px;
}

h5 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 32px;
}

p,
div {
  font-size: 16px;
  font-size: 1rem;
}

span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
}

:root {
  --primary-color: #bb3a6e;
  --secondary-color: #fbf7f4;
  --dark-bg-color: #1e2329;
  --paragraph-light-color: #4b5563;
  --light-border-color: #9ca3af;
  --rating-star-gold-color: #f0ad4e;
  --form-input-bg-color: #f9fafb;
  --form-input-border-color: #bdbdbd;
}

::selection {
  color: white;
  background: var(--primary-color);
}

.nav-sec {
  min-height: 50px;
  padding: 29px;
}

.navbar-brand {
  padding: 14.5px 0;
}

.navbar-brand img {
  width: 130px;
  max-width: 130px;
}

.navbar-toggler {
  padding: 11px;
  border-radius: 2px;
}

.navbar-toggler span {
  letter-spacing: 0px;
}

.offcanvas-end {
  background-color: var(--dark-bg-color);
  width: 544px !important;
}

.offcanvas-header {
  padding-right: 30px;
}

.offcanvas-header button {
  line-height: 1;
}

.close-btn {
  border: 1px solid white;
  border-radius: 2px;
  padding: 11px;
}

.close-btn span {
  letter-spacing: 0;
}

.navlink {
  text-decoration: none;
  color: white;
}

.active-link {
  color: var(--primary-color);
}

/* .active-page {
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
} */

.navlink:hover {
  color: var(--primary-color);
  transition: all 0.2s linear;
}

.btns {
  padding: 12px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 26px;
  border: 2px solid white;
}

.btns:hover {
  transition: all 0.2s linear;
}

.navbar .btn-sec .btns {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.navbar .btn-sec .btns:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
  transition: all 0.2s linear;
}

.bg-img {
  background-image: url(/Assets/Home/hero-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0 40px 112px;
}

.line {
  width: 64px;
  border-top: 4px solid white;
  padding: 0 0 47px 0;
}

.header {
  padding: 0 30% 0 0;
}

.header h1 {
  margin-bottom: 15px;
}

.header p {
  margin: 0;
}

.hero-btns {
  margin: 45px auto 24px;
  gap: 0 30px;
}

.hero-btns button {
  background-color: white;
  color: black;
}

.hero-btns button:hover {
  background-color: transparent;
  color: white;
  transition: all 0.2s linear;
}

.about-us-bg-col {
  background-color: var(--secondary-color);
  padding: 100px 40px;
}

.about-us-content {
  display: flex;
  align-items: center;
  gap: 0 80px;
}

.about-us-text {
  height: 500px;
  width: 560px;
  max-width: 100%;
}

.small-header {
  padding: 0 0 10px;
}

.about-us-text .small-header {
  color: var(--primary-color);
}

.about-us-text .texts h2 {
  margin-bottom: 20px;
}

.about-us-text p {
  margin-bottom: 0px;
  font-weight: 400;
  color: var(--paragraph-light-color);
}

.about-us-img {
  height: 500px;
  width: 560px;
  max-width: 100%;
}

.about-us-img img {
  height: 500px;
  width: 560px;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

.host-sec-bg-col {
  background-color: var(--dark-bg-color);
  padding: 100px 40px;
}

.host-sec-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0 60px;
}

.host-sec-img {
  height: 500px;
  width: 570px;
  max-width: 100%;
}

.host-sec-img img {
  height: 500px;
  width: 570px;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

.host-sec-text {
  height: 500px;
  width: 570px;
  max-width: 100%;
}

.host-sec-text span {
  letter-spacing: 0;
}

.host-sec-text .texts h3 {
  margin-bottom: 20px;
}

.host-sec-text p {
  margin-bottom: 0px;
  font-weight: 400;
}

.testimonial-bg {
  background-image: url(/Assets/Home/testimonial-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-bg-col {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px 40px;
}

.quote-logo-sec {
  width: 100%;
  padding-bottom: 13.5px;
}

.quote-logo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.quote-logo-sec .quote-logo .bi {
  font-size: 26px;
}

.quote-sec .quote {
  padding: 0 150px 10px;
}

.quote-sec .quote h3 {
  margin: 0;
}

.quote-sec .stars {
  padding: 0 0 20px;
  line-height: 0;
}

.quote-sec .stars i {
  font-size: 16px;
}

.quote-sec .whom {
  line-height: 1em;
  font-weight: 700;
}

.menus-sec-bg-col {
  background-color: var(--secondary-color);
  padding: 100px 40px;
}

.menus-header p {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85em;
  letter-spacing: 2px;

  padding: 0 0 10px;
}

.top-2-cards-sec {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 60px 0;
}

.bottom-2-cards-sec {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 0 0 70px;
}

.card {
  border: 1px solid var(--paragraph-light-color);
  width: 750px;
  max-width: 100%;
}

.card img {
  height: 324px;
}

.menu-card-items {
  padding: 40px 40px 61px;
}

.menu-card-items h4 {
  color: var(--primary-color);
}

.menu-name {
  padding: 0 0 21px;
}

.first-item,
.second-item,
.third-item {
  border-bottom: 2px dashed #9ca3af;
}

.first-item {
  padding: 26px 0 17px;
}

.second-item {
  padding: 21px 0 17px;
}

.third-item {
  padding: 20px 0 17px;
}

.item-name {
  margin: 0 0 5px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.item-des {
  color: var(--paragraph-light-color);
}

.second-menu-card .third-item,
.third-menu-card .third-item,
.fourth-menu-card .third-item {
  padding: 21px 0 17px;
}

.join-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--paragraph-light-color);
  border-bottom: 2px solid var(--paragraph-light-color);
  padding: 73px 0;
}

.join-us-btn a {
  text-decoration: none;
  color: var(--primary-color);
}

.join-us-btn button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.join-us-btn button:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.2s linear;
}

.reviews-bg-col {
  background-color: var(--secondary-color);
  padding: 0 40px 100px;
}

.reviews-sec {
  display: flex;
  gap: 80px;
}

.review-sec-header {
  width: 36%;
  max-width: 100%;
}

.review-sec-header h2 {
  padding: 0 0 37px;
  margin: 0;
}

.review-sec-header .line {
  width: 64px;
  border-top: 4px solid #1e2329;
  padding: 0 0 2px;
}

.review-cards {
  width: 64%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review-cards .first-review,
.review-cards .second-review {
  background-color: white;
  padding: 30px 24px;
  border-right: 2px solid var(--paragraph-light-color);
  border-bottom: 2px solid var(--paragraph-light-color);
}

.review-cards .ratings {
  font-size: 16px;
  display: flex;
  gap: 2px;
  color: var(--primary-color);
  padding: 0 0 5.4px;
}

.review-cards .feedback div {
  font-size: 18px;
  line-height: 1.6em;
  color: var(--paragraph-light-color);
  margin-bottom: 20px;
}

.review-cards .reviewer {
  height: 62.67px;
}

.review-cards .reviewer .dp {
  padding-right: 15px;
}

.review-cards .reviewer .dp img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.review-cards .reviewer .name {
  font-size: 20px;
  line-height: 1.5em;
  color: var(--paragraph-light-color);
}

.footer-top-sec-bg-img {
  background-image: url(/Assets/footer-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-top-sec-bg-col {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 112px 40px;
}

.footer-top-content .footer-top-header {
  padding: 0 0 30px;
}

.footer-top-content .footer-top-header h3 {
  margin-bottom: 20px;
}

.footer-top-content .footer-top-btn button {
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.footer-top-content .footer-top-btn button:hover {
  background-color: #c94077;
  transition: all 0.3s linear;
}

.footer-mid-sec-bg-col {
  background-color: var(--dark-bg-color);
  padding: 65px 40px;
}

.footer-middle-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.footer-middle-sec .footer-cols-header,
.footer-middle-sec .footer-cols-des {
  margin-bottom: 1.75em;
}

.footer-logo-sec img {
  margin-bottom: 1.25em;
}

.footer-bott-sec-bg-col {
  background-color: var(--dark-bg-color);
  padding: 36px 40px;
  border-top: 1px solid var(--paragraph-light-color);
}

.footer-bottom-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.footer-bottom-sec .footer-copyright {
  display: flex;
  align-items: center;
}

.footer-bottom-sec .social-logos {
  font-size: 15.5px;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}

.footer-bottom-sec .social-logos a {
  text-decoration: none;
  color: white;
}

.h-930px {
  min-height: 930px;
}

.w-1240px {
  max-width: 1240px;
}

.w-1200px {
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .h-930px {
    min-height: 550px;
    padding: 0 32px 100px;
  }

  .header {
    padding: 0;
  }

  .header h1 {
    margin: 0;
  }

  .line {
    padding: 0 0 30px 0;
  }

  .about-us-bg-col {
    padding: 75px 32px;
  }

  .about-us-content {
    gap: 0 40px;
  }

  .about-us-text {
    height: auto;
    width: 460px;
    max-width: 100%;
  }

  .about-us-img {
    height: 100%;
    width: 460px;
    max-width: 100%;
    align-self: flex-start;
  }

  .about-us-img img {
    height: 311px;
    width: 332px;
  }

  .host-sec-bg-col {
    padding: 75px 32px;
  }

  .host-sec-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }

  .host-sec-img {
    height: auto;
    width: 960px;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .host-sec-img img {
    height: 617px;
    width: 570px;
  }

  .host-sec-text {
    height: auto;
    width: 960px;
    max-width: 100%;
    padding: 20px 0 0;
  }

  .testimonial-bg-col {
    padding: 50px 32px;
  }

  .quote-sec .quote {
    padding: 0 120px 20px;
  }

  .menus-sec-bg-col {
    padding: 75px 32px;
  }

  .menus-header h2 {
    padding: 0 0 40px;
  }

  .top-2-cards-sec,
  .bottom-2-cards-sec {
    gap: 40px;
    padding: 0 0 45px;
  }

  .menu-card-items {
    padding: 24px 24px 45px;
  }

  .card img {
    height: 189px;
    width: 330px;
  }

  .join-us-content {
    padding: 60px 0;
  }

  .reviews-bg-col {
    padding: 0 32px 75px;
  }

  .reviews-sec {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .review-sec-header {
    width: 100%;
    max-width: 100%;
  }

  .review-sec-header h2 {
    padding: 0 0 27px;
  }

  .review-sec-header .line {
    padding: 0 0 27px;
  }

  .review-cards {
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .footer-top-sec-bg-col {
    padding: 112px 32px;
  }
}

@media (max-width: 991px) {
  .nav-item {
    height: 60px;
  }

  .navlink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .active-link {
    color: var(--primary-color);
  }
}

@media (max-width: 921px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 17px;
  }

  p,
  div {
    line-height: 1.6em;
  }

  p,
  div,
  .btns {
    font-size: 14.5px;
  }

  .quote-logo-sec {
    padding-bottom: 13px;
  }

  .item-name {
    font-size: 15.5px;
    font-weight: 600;
    line-height: 1.5em;
    /* letter-spacing: -0.6px; */
  }

  .footer-mid-sec-bg-col {
    padding: 50px 30px;
  }

  .footer-middle-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 50px;
  }

  .footer-middle-sec .footer-sections {
    margin-bottom: 10px;
  }

  .footer-bott-sec-bg-col {
    padding: 36px 30px;
  }
}

@media (max-width: 767px) {
  .h-930px {
    min-height: auto;
    padding: 120px 24px 100px;
  }

  .header h1 {
    margin: 0 0 15px 0;
  }

  .hero-btns {
    margin: 30px auto 24px;
  }

  .about-us-bg-col {
    padding: 75px 24px;
  }

  .about-us-content {
    gap: 30px 0;
  }

  .about-us-text {
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  .about-us-img {
    height: auto;
    width: 100%;
    max-width: 100%;
    align-self: center;
  }

  .about-us-img img {
    height: 353px;
    width: 377px;
  }

  .host-sec-bg-col {
    padding: 75px 24px;
  }

  .host-sec-content {
    gap: 40px 0;
  }

  .host-sec-img img {
    height: 409px;
    width: 377px;
  }

  .host-sec-text {
    padding: 0;
  }

  .testimonial-bg-col {
    padding: 40px 24px 75px;
  }

  .quote-sec .quote {
    padding: 0 0 10px;
  }

  .quote-sec .quote h3 {
    font-size: 25px;
  }

  .quote-sec .stars {
    padding: 0 0 10px;
  }

  .menus-header h2 {
    padding: 0 0 30px;
  }

  .menus-sec-bg-col {
    padding: 80px 24px;
  }

  .card img {
    height: 214px;
    width: 376px;
    max-width: 100%;
  }

  .menu-card-items {
    padding: 20px 20px 41px;
  }

  .top-2-cards-sec {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0 30px;
  }

  .bottom-2-cards-sec {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0;
  }

  .join-us-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-top: none;
  }

  .reviews-bg-col {
    padding: 0 24px 75px;
  }

  .footer-top-sec-bg-col {
    padding: 100px 24px;
  }
}

@media (max-width: 544px) {
  .nav-sec {
    min-height: 50px;
    padding: 20px 30px;
  }

  .navlink {
    text-align: center;
  }

  h1 {
    font-size: 38px;
  }

  h3 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  .footer-middle-sec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    gap: 20px 0;
    text-align: center;
  }

  .footer-bottom-sec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }

  .footer-bottom-sec .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-bottom-sec .social-logos {
    font-size: 15.4px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 23.5px;
  }
}

@media (min-width: 544px) {
  .offcanvas-end {
    width: 400px !important;
  }
}

@media (min-width: 992px) {
  .nav-sec {
    min-height: 120px;
    padding: 0 20px;
  }

  .navbar-nav {
    padding: 0 10px 0 0;
  }

  .navlink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 0 16px;
  }

  .btn-sec {
    padding: 0 0 0 10px;
  }
}

@media (min-width: 1024px) {
  .hero-btns button {
    padding: 14px 44px;
  }
}

.about-hero-bg-img {
  background-image: url(/Assets/About/about-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-hero-bg-color {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 0 40px;
}

.about-page-main-bg-col {
  padding: 100px 40px 0;
}

.about-page-main-sec .abt-pg-main-header {
  padding: 0 12% 0 0;
}

.abt-pg-main-content {
  padding: 60px 0 80px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  border-bottom: 2px solid;
}

.abt-pg-main-img {
  width: 48%;
}

.abt-pg-main-img img {
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

.abt-pg-main-texts {
  width: 52%;
  max-width: 100%;
  padding: 0 80px 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.abt-pg-main-texts p {
  padding: 0 0 32px;
  color: var(--paragraph-light-color);
}

.abt-pg-main-texts p:last-child {
  padding: 0;
}

.abt-pg-testi-bg-col {
  padding: 60px 40px 80px;
}

.abt-pg-quote-logo {
  padding: 0 0 13px;
}

.abt-pg-quote-logo i {
  font-size: 30px;
}

.abt-testi-quote {
  padding: 0 50px 20px;
}

.abt-testi-stars {
  padding: 0 0 10.4px;
  color: var(--rating-star-gold-color);
  font-size: 16px;
}

.abt-testi-person {
  line-height: 1em;
  font-weight: 600;
  color: var(--paragraph-light-color);
}

.abt-event-bg-col {
  background-color: var(--secondary-color);
  padding: 100px 40px;
}

.event-cards-sec {
  padding: 40px 0 0;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.event-cards-sec .card {
  width: 50%;
  max-width: 100%;
  padding: 32px;
}

.event-cards-sec .card-img {
  width: 100%;
  height: 100%;
}

.event-cards-sec img {
  width: 504px;
  height: 100%;
  aspect-ratio: 504 / 320;
  max-width: 100%;
}

.event-cards-sec .card-body {
  padding: 20px 0 32px;
  border-bottom: 2px solid var(--paragraph-light-color);
}

.event-cards-sec .card-body h5 {
  margin: 0 0 20px;
}

.event-cards-sec .card-text {
  color: var(--paragraph-light-color);
}

.card-footer {
  display: flex;
  padding: 36px 0 0;
}

.card-footer-date {
  width: 50%;
  max-width: 100%;

  display: flex;
  align-items: center;
}

.card-footer-btn {
  width: 50%;
  margin-bottom: 23px;
}

.card-footer-btn a {
  text-decoration: none;
  color: var(--primary-color);
}

.card-footer-btn button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  width: 100%;
  max-width: 100%;
}

.card-footer-btn button:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.2s linear;
}

.h-480px {
  min-height: 480px;
}

@media (max-width: 1024px) {
  .h-480px {
    min-height: 380px;
  }

  .about-hero-bg-color {
    padding: 0 32px;
  }

  .about-page-main-bg-col {
    padding: 80px 32px 0;
  }

  .about-page-main-sec .abt-pg-main-header {
    padding: 0;
  }

  .abt-pg-main-content {
    padding: 40px 0 50px;
    gap: 20px;
  }

  .abt-pg-main-img {
    width: 51%;
    padding-right: 20px;
  }

  .abt-pg-main-texts {
    width: 49%;
    max-width: 100%;
    padding: 0;
  }

  .abt-pg-main-texts p {
    font-size: 15px;
    line-height: 1.53em;
  }

  .abt-pg-testi-bg-col {
    padding: 50px 32px 80px;
  }

  .abt-testi-quote {
    padding: 0 20px 20px;
  }

  .abt-event-bg-col {
    padding: 80px 32px;
  }

  .event-cards-sec {
    padding: 30px 0 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .event-cards-sec .card {
    padding: 20px;
  }

  .event-cards-sec .card-text {
    height: 102.42px;
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card-footer-date {
    width: 100%;
    max-width: 100%;

    display: flex;
    align-items: center;
  }

  .card-footer-btn {
    width: 100%;
    margin-bottom: 23px;
  }
}

@media (max-width: 921px) {
  .event-cards-sec .card-text {
    height: 93.38px;
  }

  .abt-testi-person p {
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .about-hero-bg-color {
    padding: 0 24px;
  }

  .about-hero-header {
    text-align: center;
  }

  .about-page-main-bg-col {
    padding: 64px 24px 0;
  }

  .abt-pg-main-content {
    padding: 30px 0 64px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .abt-pg-main-img {
    width: 100%;
    text-align: center;
  }

  .abt-pg-main-texts {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .abt-pg-testi-bg-col {
    padding: 64px 24px 64px;
  }

  .abt-testi-quote {
    padding: 0 0 20px;
  }

  .abt-testi-quote h4 {
    font-size: 25px;
  }

  .abt-event-bg-col {
    padding: 64px 24px;
  }

  .event-cards-sec {
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .event-cards-sec .card {
    width: 100%;
    max-width: 100%;
  }

  .event-cards-sec .card-text {
    height: auto;
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 544px) {
}

@media (min-width: 992px) {
}

.menus-hero-bg-img {
  background-image: url(/Assets/Menus/menus-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menus-hero-bg-color {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 0 40px;
}

.menu-pg-menu-bg-col {
  background-color: var(--secondary-color);
  padding: 100px 40px;
}

.menus-pg-menu-header {
  padding: 0 0 40px;
  border-bottom: 2px solid;
}

.menus-pg-menu-header p {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85em;
  letter-spacing: 2px;

  padding: 0 0 10px;
}

.menus-pg-menu-header h2 {
  font-size: 56px;
}

.first-menu-pg-card,
.second-menu-pg-card,
.third-menu-pg-card,
.fourth-menu-pg-card {
  padding: 60px 0;
  border-bottom: 2px solid;

  display: flex;
  gap: 40px;
}

.menu-pg-menu-card-img,
.menu-pg-menu-card-items {
  width: 50%;
  max-width: 560px;
}

.second-menu-pg-card .menu-pg-menu-card-img,
.fourth-menu-pg-card .menu-pg-menu-card-img {
  text-align: right;
}

.menu-pg-menu-card-img img {
  max-width: 100%;
}

.menu-pg-menu-card-items {
  padding-bottom: 21px;
}

.menu-card-item-header {
  padding: 0 0 21px;
  border-bottom: 2px solid;
}

.menu-card-first-item {
  padding: 21px 0 17px;
  border-bottom: 2px dashed var(--light-border-color);
}

.menu-card-second-item,
.menu-card-third-item,
.menu-card-fourth-item {
  padding: 21px 0 17px;
  border-bottom: 2px dashed var(--light-border-color);
}

.menu-card-item-name {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.menu-card-item-des {
  color: var(--paragraph-light-color);
}

@media (max-width: 1024px) {
  .menus-hero-bg-color {
    padding: 0 32px;
  }

  .menu-pg-menu-bg-col {
    padding: 75px 32px;
  }

  .menus-pg-menu-header {
    padding: 0 0 45px;
  }

  .menus-pg-menu-header h2 {
    font-size: 40px;
  }

  .menu-pg-menu-bg-col {
    padding: 75px 32px;
  }

  .first-menu-pg-card,
  .second-menu-pg-card,
  .third-menu-pg-card,
  .fourth-menu-pg-card {
    padding: 45px 0;
    display: flex;
    gap: 30px;
  }

  .menu-card-item-header {
    padding: 0 0 17px;
  }

  .menu-card-item-name {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 1.56em;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .menus-hero-bg-color {
    padding: 0 24px;
  }

  .menus-hero-header {
    text-align: center;
  }

  .menu-pg-menu-bg-col {
    padding: 64px 24px;
  }

  .menus-pg-menu-header {
    padding: 0 0 30px;
    text-align: center;
  }

  .menus-pg-menu-header h2 {
    font-size: 34px;
    padding: 0 20px;
  }

  .menu-pg-menu-bg-col {
    padding: 64px 24px;
  }

  .second-menu-pg-card .menu-pg-menu-card-img,
  .fourth-menu-pg-card .menu-pg-menu-card-img {
    text-align: left;
  }

  .first-menu-pg-card,
  .third-menu-pg-card {
    padding: 50px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .second-menu-pg-card,
  .fourth-menu-pg-card {
    padding: 50px 0 40px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .menu-pg-menu-card-img,
  .menu-pg-menu-card-items {
    width: 100%;
  }

  .menu-pg-menu-card-items {
    padding-bottom: 0;
  }
}

@media (max-width: 544px) {
}

@media (min-width: 992px) {
}

.contact-hero-bg-img {
  background-image: url(/Assets/Contact/contact-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-hero-bg-color {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 0 40px;
}

.contact-us-sec-bg-col {
  background-color: var(--secondary-color);
  padding: 100px 40px;
}

.contact-us-sec {
  display: flex;
}

.contact-us-texts {
  width: 100%;
  max-width: 100%;
  padding: 0 80px 0 0;
}

.contact-us-address {
  padding: 0 0 32px;
}

.contact-us-number {
  padding: 40px 0 32px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.contact-us-number p,
.contact-us-timings p:first-child {
  color: var(--primary-color);
  font-weight: 600;
}

.contact-us-timings {
  padding: 40px 0 0;
}

.contact-us-timings p:last-child {
  color: var(--paragraph-light-color);
}

.contct-us-forms {
  width: 100%;
  max-width: 100%;
  margin-bottom: 26px;
}

.contact-forms-name,
.contact-forms-email,
.contact-forms-msg {
  padding: 15px 0;
}

.contct-us-forms label {
  font-weight: 600;
  color: var(--paragraph-light-color);
}

.contct-us-forms span {
  color: var(--primary-color);
  /* font-weight: 600; */
  font-size: 16px;
}

.contct-us-forms input,
.contct-us-forms textarea {
  padding: 0.75em;
  line-height: 1.6em;
  background-color: var(--form-input-bg-color);
  border: 1px solid var(--form-input-border-color);
}

.contct-us-forms input:focus,
.contct-us-forms textarea:focus {
  border: 1px solid var(--form-input-border-color);
}

.contct-us-forms textarea {
  height: 120px;
}

.contct-us-forms button {
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.contct-us-forms button:hover {
  background-color: #c94077;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .contact-hero-bg-color {
    padding: 0 32px;
  }

  .contact-us-sec-bg-col {
    padding: 80px 32px;
  }

  .contact-us-texts {
    padding: 0 50px 0 0;
  }

  .contact-us-texts p {
    font-size: 15px;
    line-height: 1.6em;
  }

  .contact-us-timings p:last-child {
    line-height: 1.53em;
  }

  .contct-us-forms input,
  .contct-us-forms textarea {
    padding: 0.75em;
    line-height: 1.3262em;
  }
}

@media (max-width: 921px) {
  .contct-us-forms span {
    font-size: 14.5px;
  }
}

@media (max-width: 767px) {
  .contact-hero-bg-color {
    padding: 0 24px;
  }

  .contact-hero-header {
    text-align: center;
  }

  .contact-us-sec-bg-col {
    padding: 64px 24px;
  }

  .contact-us-sec {
    display: flex;
    flex-direction: column;
  }

  .contact-us-texts {
    padding: 0 0 40px;
  }
}

@media (max-width: 544px) {
}

@media (min-width: 768px) {
  .contact-us-texts,
  .contct-us-forms {
    width: 50%;
  }
}
